{% include "recipes/partials/head.html" %}

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}


    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="game game-list-item">
                <div class="recipe-cover">
                    <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000013493/71f75ef1b21a61090bac1dfe1ea744bf205066fcc2652854b122c6173fae4158" alt="Temporário">
                    <!-- <img src="https://placehold.co/1280x720/ff96be/png" alt="Temporário">-->
                </div> 
                <div class="game-title-container">
                    <h2 class="game-title">Rain World</h2>
                    <a class="game-link" href="https://store.steampowered.com/app/312520/Rain_World/">
                        <i class="fa-brands fa-steam"></i> Steam
                    </a>
                </div>
            </div>
        </div>
    </main>
        

</body>

</html>